<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
        <br>
        <h1>Questions&&Answers</h1>
    </div>
</body>
<%- include("./partials/footer.ejs") %>