<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <h2>Categories</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Web Development</td>
                <td>web-development</td>
                <td>Actions</td>
            </tr>
        </tbody>
    </table>
</div>
<%- include("../../partials/footer.ejs") %>